.text-centred {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.margin-bot {
  margin-bottom: 1rem !important;
}

.margin-top {
  margin-top: 1rem !important;
}

.padding-top {
  padding-top: 1rem !important;
}

.padding-bot {
  padding-bottom: 1rem !important;
}

.padding-right {
  padding: 0 1rem 0 0 !important;
}

.jump {
  padding-top: 2rem !important;
  margin-top: 2rem !important;
}

.inverted {
  border-radius: 0 !important;
  background-color: #333230 !important;
  margin: 0 !important;
}
